<div class="card">
    <div class="card-body">
        <p class="card-text">
            <h2>
                Ocorreu um erro durante o processamento da operação - Dados com relações importantes
            </h2>
    </div>
</div>

@*<h4>
      Ocorreu um erro durante o processamento da operação
    </h4>
    <h5>Contate o suporte : suporte@email.com</h5>
    <hr />
    <h3>Detalhes do erro:</h3>
    <div class="alert alert-danger">
        <h5>Caminho</h5>
        <hr />
        <p>@ViewBag.ExceptionPath</p>
    </div>

    <div class="alert alert-danger">
        <h5>Mensagem</h5>
        <hr />
        <p>@ViewBag.ExceptionMessage</p>
    </div>

    <div class="alert alert-danger">
        <h5>Stack Trace</h5>
        <hr />
        <p>@ViewBag.StackTrace</p>
    </div>*@

